{% extends "music_base.html" %}

{% block content %}
    <div id="content" class="col-md-9 d-flex flex-column justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='1.png') }}" alt="..." class="d-block w-100">
        <img src="{{ url_for('static', filename='2.png') }}" alt="..." class="d-block w-100">
        <img src="{{ url_for('static', filename='3.png') }}" alt="..." class="d-block w-100">
        <img src="{{ url_for('static', filename='4.png') }}" alt="..." class="d-block w-100">
        <img src="{{ url_for('static', filename='5.png') }}" alt="..." class="d-block w-100">
        <img src="{{ url_for('static', filename='6.png') }}" alt="..." class="d-block w-100">
    </div>
{% endblock %}