{% extends "music_base.html" %}

{% block content %}

    <div id="content" class="col-md-9 d-flex flex-column justify-content-center align-items-center" style="background: linear-gradient(to top,#272727,#f9f9f9);">
        <p class="h3 text-center text-danger">版本：1.1.0</p>
        <p class="text-center">播放器优化，实现收藏下载功能，添加新的主题</p>
        <p class="h3 text-center mt-3 text-danger">版本：1.5.0</p>
        <p class="text-center">通过实时爬虫绕过vkey验证，实现完整的收藏功能</p>
        <p class="h3 text-center mt-3 text-danger">版本：2.0.0</p>
        <p class="text-center">通过二维码登录验证，动态更新vkey</p>
        <p class="h3 text-center mt-3 text-danger">版本：2.3.0</p>
        <p class="text-center">提供组件功能，提升应用可拓展性</p>
        <p class="h3 text-center mt-3 text-danger">版本：3.1.0</p>
        <p class="text-center">通过人工智能s-onk接口</p>
        <p class="h3 text-center mt-3 text-danger">版本：9.0.0</p>
        <p class="text-center">全新架构......</p>
    </div>

{% endblock %}